{% extends 'StarWarsDb::base.html.twig' %}

{% block title %}
    Impressum
{% endblock %}

{% block body %}
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p>Daniel Moritz<br />
        Helmholtzstr. 62<br />
        46045 Oberhausen
    </p>
    <h2>Kontakt:</h2>
    <table><tr>
            <td>Telefon:</td>
            <td>492087680360</td></tr>
        <tr><td>E-Mail:</td>
            <td>dmoritz79@googlemail.com</td>
        </tr></table>
    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
    <p>Daniel Moritz<br />
        Helmholtzstr. 62<br />
        46045 Oberhausen</p>
    <p> </p>
    <p>Quelle: <em><a rel="nofollow" href="http://www.e-recht24.de/impressum-generator.html">http://www.e-recht24.de</a></em></p>

{% endblock %}