
/*
    Document   : main
    Created on : Jun 23, 2012, 8:46:13 PM
    Author     : developer software-talk.org
    Description:
        Styling of the main site, including positioning of main conten, sidebar and footer,
        general font-styling and styling of nav-bar.
*/

/* style text for whole site*/
body,
html {
    margin:0;
    padding:0;

    font-family: Arial, Helvetica, Sans-serif;
    color: #666666;
}

/* site width and center */
#wrap {
    width:760px;
    margin:0 auto;
}

/* style links for whole site*/
#wrap a {
    text-decoration: none;
}

/* positioning of main, sidebar and footer */
.main {
    float:left;
    width:490px;
    padding:20px;
    line-height: 18px;

}
.sidebar-right {
    float:right;
    width:200px;
    line-height: 18px;

}
#footer {
    clear:both;
    background:#cc9;
}

/* position navigation*/
#header .navigation ul {
    list-style:none;
}
#header .navigation li {
    display:inline;
}

/* style naviagion */
#header .navigation { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; }
#header .navigation li a { display: inline-block; padding: 10px 15px; border-left: 1px solid #ccc; color: black}